
@{
    ViewBag.Title = "Error 500";
}

<div class="page-header">
    <h1>Error 500<small>Estamos lesionados, algo fallo en el sistema</small></h1>
</div>

<div class="row center-block">
    <img src="~/Images/500.jpg" />
</div>


