
@{
    ViewBag.Title = "Error 401";
}
<div class="page-header">
    <h1>Error 401<small>No puedes ingresar a esta área</small></h1>
</div>

<div class="row center-block">
    <img src="~/Images/401.png" />
</div>

