@{
    ViewBag.Title = "Home Page";
}
<div class="bg"></div>
<div class="jumbotron">
    <h1>Pichanga.pe</h1>
    <p class="lead">Bienvenido a la web donde encontraras campos deportivos para tus pichangas con los amigos</p>
    <p><a href="/CamposReservar" class="btn btn-primary btn-lg">Ver Campos &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Registrate Ahora!</h2>
        <p>
            Ingresa a tu cuenta para poder reservar tus campos deportivos
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Registrar Ahora &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Usa tu facebook</h2>
        <p>Registrate o ingresa con tu cuenta de Facebook.</p>
        <p><a class="btn btn-default" href="/Account/Login">Ingresa &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gana Dinero</h2>
        <p>Haz que tu campo deportivo aparezca aqui y administra de manera adecuada el horario de 
        tus reservas</p>
        <p><a class="btn btn-default" href="/Home/Contact">Contactanos &raquo;</a></p>
    </div>
</div>



@section Scripts{
<script>
    var jumboHeight = $('.jumbotron').outerHeight();
function parallax(){
    var scrolled = $(window).scrollTop();
    $('.bg').css('height', (jumboHeight-scrolled) + 'px');
}

$(window).scroll(function(e){
    parallax();
});
</script>
}