@model IEnumerable<ReservadeCanchas.Negocio.Modelos.Dias>
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Hora</th>
                @foreach (var dia in Model)
                {
                    <th>@dia.textoDia</th>
                }

                
            </tr>
        </thead>
    </table>
</div>