
<div class="form-group">
    <label for="operacion" class="control-label col-md-2">Persona de contacto:</label>
    <div class="col-md-10">
        <input type="text" class="form-control" name="persona" id="persona" value="" />
    </div>
</div>
