
<div class="form-group">

        <label for="banco" class="control-label col-md-2">Banco</label>
    <div class="col-md-10">
        <select class="form-control valid" id="banco" name="banco">
            <option value="BCP">BCP </option>
            <option value="interbank">Interbank</option>
            <option value="bbva">BBVA</option>
        </select>
    </div>
</div>

<div class="form-group">
        <label for="operacion" class="control-label col-md-2">Nro de Operación</label>
    <div class="col-md-10">
        <input type="number" class="form-control" name="operacion" id="operacion" value="" />
    </div>
</div>
<div class="form-group">

        <label for="fechaDeposito" class="control-label col-md-2">Fecha de Deposito</label>
    <div class="col-md-10">
        <input type="date" class="form-control" name="fechaDeposito" id="fechaDeposito" value="" />
    </div>
</div>
<div class="form-group">

        <label for="horaDeposito" class="control-label col-md-2">Hora de Deposito</label>
    <div class="col-md-10">
        <input type="time" class="form-control" name="horaDeposito" id="horaDeposito" value="" />

    </div>
</div>

