@model IEnumerable<DatosRC.ADO.CampoSet>
@{
    ViewBag.Title = "Campos para alquilar";
}

<h2>Campos Disponibles</h2>

<div class="row">
    
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="" alt="">
                    <div class="caption">
                        <h3>@item.Nombre</h3>
                        <p>@item.Descripcion</p>
                        <p>
                        @Html.ActionLink("Ver Horarios", "Horarios", new { id = item.Id}, new { @class= "btn btn-primary", role= "button" })
                        <!--<a href="#" class="btn btn-primary" role="button">Ver Horarios</a> -->
                        <a href="#" class="btn btn-default" role="button">más Información</a></p>
                    </div>
                </div>
            </div>
        }

            
</div>



