
@{
    ViewBag.Title = "Confirmación de reserva";
}

@if (ViewBag.ok)
{
    <div class="alert alert-success" role="alert">
        <spam class="glyphicon glyphicon-ok" aria-hidden="true"></spam>
        Su Reserva esta pendiente de confimación
    </div>
    
    <h2>No olvide realizar su pago</h2>
    @Html.ActionLink("Ir a mis Reservas","MisReservas")
}
else
{
    <div class="alert alert-danger" role="alert">
        <h1>Hubo un error y su reserva no se pudo realizar, intente de nuevo más tarde</h1>
        
    </div>
}


