
@{
    ViewBag.Title = "Confirmación de reserva";
}

@if (ViewBag.ok)
{
    <h1>Su Reserva esta pendiente de confimación</h1>
    <h2>No olvide realizar su pago</h2>
}
else
{
    <h1>Hubo un error y su reserva no se pudo realizar, intente de nuevo más tarde</h1>
}


